.manlist__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.manlist__item {
  font-size: 13px;
  line-height: 24px;
  padding: 8px 0;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: #00E5A8;
  }
  &-active {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      background-image: url(../../images/manactive.png);
      left: -200px;
      top: 0;
      height: 100%;
      width: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.mans__list {
  width: 460px;
  overflow: hidden;
  display: flex;
  height: 80vh;
}

.mans__item {
  transition: .7s ease-in-out;
}

.slogan {
  position: absolute;
  bottom: 40%;
  left: -10%;
  max-width: 550px;
  border: 2px solid #00e5a8;
  border-radius: 5px;
  padding: 15px;
  padding-left: 46px;
  overflow: hidden;
  &-blur {
    filter: blur(40px);
    position: absolute;
    top: -20px;
    left: -20px;
    width: 160%;
    height: 160%;
    background: rgba(0, 229, 168, 0.7);
    z-index: -1;
  }
}

.info {
  position: absolute;
  right: 0;
  bottom: 23%;
  text-align: right;
  &-prof {
    font-size: 13px;
    line-height: 46px;
  }
  &-name {
    font-size: 52px;
    line-height: 44px;
  }
}