* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg.jpg);
    font-family: 'Micra', arial;
    color: #fff;
}

.container {
    width: 95%;
    max-width: 1690px;
    margin: auto;
    position: relative;
    &__project {
        display: flex;
        justify-content: flex-end;
        perspective: 500px;
    }
}
