.form-btn {
    transition: .3s;
    width: 356px;
    height: 84px;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 41px;
    animation-delay: 5.2s;
    animation: .3s animationLinks ease-out;
    &__list {
        position: absolute;
        left: 0;
        top: 0;
    }
    &__active {
        cursor: pointer;
        background-image: url(../images/form-btn.png);
        background-repeat: no-repeat;
        width: 356px;
        height: 84px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 41px;
        margin-bottom: 8px;
        transition: .3s;
        &:hover {
            transform: translateX(-10px);
        }
        & a {
            color: #fff;
            text-decoration: none;
        }
    }
    &:hover {
        font-size: 20px;
    }
    & a {
        color: #fff;
        text-decoration: none;
    }
}

.music-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
}


@keyframes animationLinks {
    from {
        opacity: 0;
        transform: translate(100px)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}